@mdpi-ui:registry=https://gitlab.mdpi.com:8081/api/v4/projects/719/packages/npm/
//gitlab.mdpi.com:8081/api/v4/projects/719/packages/npm/:_authToken=glpat-dqXpErCv2oU2tYhuBsnD7286MQp1OmlwCA.01.0y1wjpaqh
